@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  @keyframes bounce-slow {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  --animate-bounce-slow: bounce-slow 1s infinite;
}

@theme {
  --color-bg-light: theme(colors.white);
  --color-bg-dark: theme(colors.gray.900);
}
